{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">TODO LIST
    <a href="{% url 'list:create-task' %}" class="btn btn-success">Create task</a>
  </h1>


<ul class="list-group">
  {% for task in task_list %}
    <li class="list-group-item">Content: {{ task.content }} <br>
      Is done: {{ task.done }} <a class="btn btn-warning" href="{% url 'list:update-task-done' pk=task.id %}">
        {% if task.done %}
          Complete
          {% else %}
          Undo
        {% endif %}
      </a><br>
      Created time: {{ task.datetime }} <br>Deadline: {{ task.deadline }} <br>
      {% if task.tags %}
        <span>Tags:</span>
        {% for tag in task.tags.all  %}
          <span>{{ tag }} </span>
        {% endfor %}
      {% else %}
        <p>There are no tags for this task</p>
      {% endif %}
      <a href="{% url 'list:update-task' pk=task.id %}" class="btn btn-primary">Update</a>
      <a href="{% url 'list:delete-task' pk=task.id %}" class="btn btn-danger">Delete</a>
    </li>

  {% endfor %}
</ul>

{% endblock %}